<div class="overlay" *ngIf="isMenuOpen" (click)="closeMenu()"></div>
<app-admin-nav [isOpen]="isMenuOpen" (closeMenu)="closeMenu()"></app-admin-nav>

<div class="topbar">
  <button *ngIf="!isMenuOpen" (click)="toggleMenu()" class="menu-btn">☰</button>
  <h4>DoConnect</h4>
</div>

<h1 class="dashboard-title">DoConnect - Admin Dashboard</h1>


<!-- <h2>Notifications</h2>
<ul>
  <li *ngFor="let msg of signalRService.notifications">{{ msg }}</li>
</ul> -->

<div class="dashboard-container">
  <!-- Info Card -->
  <div class="card">
    <h2>My Info</h2>
    <hr>


    <div class="personalinfo">
      <p><strong>Name:</strong> {{ userName }}</p>
      <p><strong>Email:</strong> {{ email }}</p>
    </div>
    <p class="rolecenter"><strong>Role:</strong> {{ role }}</p>

    <div class="task">
      <p class="taskfield" routerLink="/question/status" id="count1">Pending Question: {{pendingcount.questionPending}}
      </p>
      <p class="taskfield" routerLink="/question/rejected" id="count2">Rejected Question:
        {{pendingcount.questionReject}}
      </p>
      <p class="taskfield" routerLink="/answer/status" id="count3">Pending Answers: {{pendingcount.answerPending}}</p>
      <p class="taskfield" routerLink="/answer/reject" id="count4">Answers Rejected: {{pendingcount.answerReject}}</p>
    </div>
  </div>
</div>